main {
  height: 100%;
}

.empty {
  display: flex;
  flex-direction: column;
}
.empty p{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 5rem;
}

.empty a{
  width: max-content;
  margin-left: auto;
  border-radius: 4px;
  text-decoration: none;
  font-size: 2rem;
  background-color: rgb(182, 235, 182);
  color: black;
}
.empty a:hover {
  scale: 0.95;
  background-color: rgb(123, 234, 123);
}

.cart-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 5px;
  color: black;
}

.cart-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 240, 230);
  gap: 5px;
  margin: 5px;
  background-color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  text-align: center;
}

.title {
  font-size: 1.3rem;
}

.unit{
  align-self: end;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px;
  text-decoration: underline;
}

.quantity {
  font-size: 1.3;
  font-weight: bold;
}

.quantity {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 1.5rem;
  margin-right: 10px;
  align-self: end;
}
.quantity span {
  text-align: center;
  padding: 0px 7px;
  border: 1px solid rgb(144, 127, 127);
  border-radius: 8px;
  cursor: pointer;
}

.quantity span:hover {
  border: 1px solid gold;
  scale: 0.9;
}

.due {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.due p{
  font-weight: 600;
}

.due span {
  font-weight: bold;
  color: gold;
  margin-left: 5px;
}

.deleteBtn{
  display: flex;
  justify-content: end;
}

.deleteBtn button{
  width: max-content;
  background-color: rgb(232, 148, 148);
  cursor: pointer;
  border-style: none;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.deleteBtn button:hover{
  scale: 0.95;
  background-color: rgb(214, 106, 106);
}