.cart-card {
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
  gap: 5px;
}

.cart-card p {
  padding: 0;
  margin: 0;
}

.cart-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 1.3rem;
}

.price,
.quantity {
  font-size: 1.3;
  font-weight: bold;
}

.quantity {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.quantity span{
  padding: 0px 5px;
  border: 1px solid black;
}

.due {
  font-size: 2rem;
  border: 1px solid gold;
}

.due span {
  font-weight: bold;
  color: gold;
}


