:root {
  --primaryClr: rgba(0, 0, 0, 0.1);
  --secondaryClr: rgba(255, 0, 0, 0.8);
  --primaryBg: rgba(255, 255, 255);
  --secondaryBg: rgb(225, 238, 235);
}

#root-layout {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--primaryBg);
  display: flex;
  justify-content: end;
  height: 15vh;
  align-items: center;
  padding: 10px 0;
}

header .logo {
  margin-right: auto;
}

header nav{
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

nav a{
  text-decoration: none;
  font-size: 1.5em;
  color: tomato;
  font-weight: bold;
}

/* .cart {
  position: relative;
}

.cart span {
  position: absolute;
} */

main {
  background-color: var(--secondaryBg);
}

footer {
  background-color: var(--primaryBg);
  height: 10vh;
}