:root {
    --primaryClr: rgba(0, 0, 0, 0.1);
    --secondaryClr: rgba(255, 0, 0, 0.8);
  }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: var(--primaryClr);
  max-width: 250px;
  min-width: 300px;
  border: 2px solid red;
  padding: 10px;
}

.image {
  width: 100px;
}

.title {
  font-size: 16px;
}
